.attraction-card {
    width: 450px; /* Initial width */
    max-width: 100%; /* Responsive width */
    height: 280px;
    background-size: cover;
    margin: 10px;
    display: inline-block;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 2rem;
    overflow: hidden; /* Ensure the image doesn't exceed the card boundaries */
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
}

.attraction-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
/* Styling for the content inside the card */
.attraction-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: none; /* Adjust the last value for transparency (0.5 for 50% transparency) */
    color: #fff;
    padding: 10px;
}

/* Styling for the heading and paragraph */
.attraction-title {
    font-size: 24px;
    margin: 0;
}

.attraction-description {
    font-size: 14px;
    margin: 0;
}

.attraction-card:hover {
    transform: scale(1.05); /* Increase size on hover */
}
